<!DOCTYPE html>

<html lang="en">

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>

<body>

<div class="container">
    <form method="post" action="/loginprocess">
        用户名:<input type="text" name="uname" /><br>
        密码:<input type="password" name="passwd"/><br>
        <input type="submit" value="提交"/>
    </form>
</div>

</body>

</html>